@model projekt_net.Models.Employee

@{
    ViewData["Title"] = "Radera användare";
}

<h1>@ViewData["Title"]</h1>
<p>Vill du verkligen radera den anställde?</p>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index">Till listan över anställda</a>
    </form>
</div>
