
    @{
    ViewData["Title"] = "X-hours";
    }

    <h1>@ViewData["Title"]</h1>

    <div class="text-center">
        <h1 class="display-4">Här ska den publika sidan vara som fungerar som reklam för X-hours</h1>
        <p>Bilder + info om att man som admin kan lägga in lediga pass och att man som anställd kan se sina pass, boka pass, be om ledigt, sjuka sig och byta pass</p>
    </div>

