@model projekt_net.Models.Employee

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Edit" asp-route-id="@Model?.Id">Redigera din profil</a>
</li>